@keyframes fadein {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.team-cont {
    position: relative;
    top: -150px;
    display: grid;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 10rem;
    column-gap: 10rem;
    width: 100%;
    height: 1000px;
}
u.username {
    color: #3d195b;
    text-shadow: 0 1px 0 #3d195b, 2px 2px 0 #efefef,
    0 20px 30px rgb(237, 227, 241);
}
.teamCard {
    display: inline-grid;
    position: relative;
    top: 40px;
    background: radial-gradient(rgb(112, 109, 109), #111); 
    border: 1px solid rgb(198, 183, 202);
    animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 3s;
  background: url('https://uploads-ssl.webflow.com/5d24abb8489f207db52f0e4c/5db94b555d7548acc43b3559_Premier_League_Hero.jpg');
}

.teamLogo {
    margin-right: auto;
    margin-left: auto;
    max-height: 250px;
    max-width: 250px;
}
.teamName{
    color: #e7ccf0;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 rgb(59, 7, 66),
    0 20px 30px rgb(97, 19, 131);
    font-family: Arial, Helvetica, sans-serif;
}

/* Team Detail Page */
.teamDetail {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 200px;
}
.column {
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    width: 50%;
    float: left; 
    position: relative;
    top: -170px;
    height: 164vh;
    overflow-x: scroll;
    overflow-y: scroll; 
    overflow: scroll;
    background: radial-gradient(rgb(112, 109, 109), #111);
    -webkit-scrollbar: hidden;
}
.review-cont{
    position: relative;
    top: 200px;
}

.teamDetailLogo {
    max-height: 250px;
    max-width: 250px;
    text-align: center;
}
.banner {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.teamBanner {
    width: 100%;
    position: relative;
    left: -10px;
    top: -170px;
}

h1.team-name {
    top: 100px;
    color: #efefef;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 rgb(38, 6, 43),
    0 20px 30px rgb(254, 253, 255);
}
p.teamDescription {
    display: grid;
    color: #dad6d6;
    font-size: 20px;
    /* width: 90%; */
    text-align: center;
    height: 10%;
}
h3.stadium {
    color: #c5a0c3;
}
button.descriptionHide {
    border-radius: 20px;
    background-color:rgb(34, 5, 48);
    color: #efefef;
}

a.youtube {
    color:rgb(119, 56, 146);
}
button.hideReviewForm {
    border-radius: 20px;
    position: relative;
    color: #efefef;
    background-color:rgb(38, 6, 43);
    top: 100px;
    height: 50px;
    font-size: 25px;
    width: 270px;
    border-radius: 20px;
    cursor: pointer;
}
.teamData {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-row-gap: 11rem;
    grid-column-gap: 10rem;
}
.team-reviews {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #efefef;
    overflow: scroll;
    max-height: 1000px;
}
.teamReviewsCont {
    /* display: inline-grid; */
    text-align: center;
    /* border: 5px solid #efefef; */
}
.reviewCont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-row-gap: 11rem;
    grid-column-gap: 10rem;
    color: white;
}
.reviews{
    display:inline-grid;
}

.reviewFormCont {
    /* display: inline-grid; */
    color: white;
    font-size: 100px;
    position: relative;
    overflow-wrap: break-word;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    top: 200px;
    height: 400px;
}
form.reviewForm {
    display: inline-grid;
    position: relative;
    top: 0px;
    text-align: center;
    width: 500px;
}
input.title{
    color: white;
    font-size: 20px;
    background-color: rgb(38, 6, 43);
    width: 100%;
}
input.description {
    /* margin-right: auto;
    margin-left: auto; */
    color: white;
    font-size: 20px;
    background-color: rgb(38, 6, 43);
    width: 100%;
    height: 200px;
    overflow-wrap: break-word;
}
button.submitReviewBtn{
    border-radius: 20px;
    width: 100%;
    font-size: 30px;
    color: #efefef;
    background-color:rgb(59, 7, 66);
}
p.description {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
h1.label {
    width: 100%;
    text-align: center;
}
.likesCont{
    display: table;
}
h3.likes{
    width: 10%;
    display: inline-table;
}
button.like-btn{
    border-radius: 20px;
    text-align: center;
    display: inline-table;
    width: 5%;
    background: transparent;
    cursor: pointer;
}
button.dislike-btn{
    border-radius: 20px;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    width: 5%;
    background: transparent;
    cursor: pointer;
}

button.teamDReviewHide{
    border-radius: 20px;
    color: #efefef;
    width: 150px;
    height: 50px;
    font-size: 20px;
    left: 38%;
    top: 100px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background: radial-gradient(rgb(112, 109, 109), rgb(34, 5, 48));
}

form.reviewForm{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1.ReviewTitle {
    color: #efefef;
    font-size: 50px;
    text-align: center;
}

button.teamDetBtn {
    font-size: 15px;
}

a.stadium>div {
    display: none;
    pointer-events: none;
}
a.stadium:hover>div{
    display: inline-block;
}

img.stadiumImg{
    width: 90%;
}

h3.avg {
    color: #e9d2f8;
}

select.scoreForm{
    height: 50px;
    font-size: 40px;
}
option {
    width: 50px;
    font-size: 40px;
}