.body {
    /* display: flex; */
    width: 80%;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px auto;
}
h1.welcome{
    font-size: 54px;
    color: white;
}

/* userheaders */
.umain-header {
    background: radial-gradient(rgb(112, 109, 109), #111); 
    padding: 30px;
    height: 200px;
    text-align: center;
    margin: auto;
  }
  /* header logo */
  .upremier-logo {
    float: left;
    height: 150px;
    animation: rotation 5s infinite linear;
  }
  .uabout-logo {
    height: 50px;
    width: 50px;
  }
  .up-logo {
    height: 40px;
    width: 40px;
  }
  .ugithub-logo {
    height: 50px;
    width: 50px;
  }
  .umedium-logo {
    height: 50px;
    width: 50px;
  }
  .ulinkedin-logo {
    height: 50px;
    width: 50px;
  }
 
  /* ul Nav */
  ul.uNav-ul {
    display: flex;
    float: left;
    animation: 1s ease-out 0s 1 slideInFromRight;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 80%;
  }
  
  li {
    /* background-color: rgb(255, 255, 255);
    opacity: 0.2; */
    border-radius: 10px;
    position: relative;
    width: 100px;
    text-align: center;
    object-fit: contain;
    top: 20px;
    left: 0px;
    max-width: 100%;
    margin: 0 auto;
  }
  li:hover{
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
  }
  
  a {
    top: 0px;
    color: rgb(255, 255, 255);
    width: 150px;
    max-width: 50%;
    text-decoration: none;
    margin-left: 10%;
    font-size: 30px;
    margin: 18px;
    right: 200px;
    object-fit: contain;
  }

  /* hide display teams and user reviews */
.user-container {
  position: relative;
  top: 200px;
  height: 190vh;
}
  button.hideTeams {
    border-radius: 20px;
    left: 0px;
    color: #efefef;
    width: 400px;
    height: 70px;
    font-size: 40px;
    background: radial-gradient(rgb(112, 109, 109), rgb(34, 5, 48)); 
  }
  button.hideReviews {
    border-radius: 20px;
    color: #efefef;
    width: 400px;
    height: 70px;
    font-size: 40px;
    background: radial-gradient(rgb(112, 109, 109), rgb(34, 5, 48));
  }

  .userReview {
    display: grid;
    overflow: scroll;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-row-gap: 5rem;
    grid-column-gap: 5rem;
    width: 100%;
    padding: 100px 10px;
    height: 1000px;
    max-height: 700px;
    color: #efefef;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 rgb(183, 166, 185),
    0 20px 30px rgb(109, 33, 141);
  }
  .reviewCard {
    border: 5px solid #dbcae2;
    height: 400px;
    font-size: 14px;
    overflow: scroll;
  }
  
  button.hideMatches {
    border-radius: 20px;
    left: 0px;
    color: #efefef;
    width: 400px;
    height: 70px;
    font-size: 40px;
    background: radial-gradient(rgb(112, 109, 109), rgb(34, 5, 48)); 
  }
  .matches{
    color: white;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-row-gap: 5rem;
    grid-column-gap: 5rem;
    width: 100%;
    overflow-x: scroll;
    /* position: relative; */
  }
  .events {
    border: 10px solid rgb(144, 34, 196);
    background: rgb(59, 23, 75);
    top: 20px;
    font-size: 20px;
    /* overflow: scroll; */
    color: #efefef;
    position: relative;
  }
  img.matchimg {
    max-height: 250px;
    max-width: 300px;
  }
  
  img.jersey {
    max-height: 300px;
    max-width: 250px;
    position: relative;
    top: 10px;
    left: 100px;
    text-align: center;
  }
  